.right-content__middle__userdate{data: {id: "#{message.id}"}}
  .right-content__middle__userdate__user
    = message.user.name
  .right-content__middle__userdate__date
    = message.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M")
.right-content__middle__message{data: {id: "#{message.id}"}}
  %p 
    = message.content
  = image_tag message.image.url, class: 'image' if message.image.present?