.contents
  = render partial: 'shared/leftbar'
  .right-content
    .right-content__upper
      .right-content__upper__groupmembers
        .right-content__upper__groupmembers__group test-group
        .right-content__upper__groupmembers__members Member : aaa bbb
      = link_to edit_group_path(@group) do
        .right-content__upper__btn
          Edit
    .right-content__middle
      = render partial: 'group-message'
      = render partial: 'group-message'
    .right-content__lower
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'right-content__lower__textfield', placeholder: 'type a message'
        .right-content__lower__imagefolder
          = f.label :image, class: 'upload-label' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'upload-image'
        = f.submit 'Send', class: 'right-content__lower__btn'