.contents
  .header
    .header__message グループを作成しました
  .left-content
    .left-content__upper
      .left-content__upper__user 
        = current_user.name
      %ul.left-content__upper__icons
        %li
          =link_to "https://twitter.com", class: "left-content__upper__icons__edit" do
            = fa_icon 'edit'
        %li
          =link_to "https://twitter.com", class: "left-content__upper__icons__cog" do
            = fa_icon 'cog'
    .left-content__lower
      = render partial: 'group-list'
      = render partial: 'group-list'
  .right-content
    .right-content__upper
      .right-content__upper__groupmembers
        .right-content__upper__groupmembers__group test-group
        .right-content__upper__groupmembers__members Member : aaa bbb
      .right-content__upper__btn Edit
    .right-content__middle
      = render partial: 'group-message'
      = render partial: 'group-message'
    .right-content__lower
      .right-content__lower__textbox
        .right-content__lower__textbox__placeholder type a message
        .right-content__lower__textbox__imagefolder
          %label.upload-label
            %i.fa.fa-image
            %input.upload-image{:type => "file"}
      .right-content__lower__btn
        .right-content__lower__btn__text Send