.contents
  = render partial: 'shared/leftbar'
  .right-content
    .right-content__upper
      .right-content__upper__groupmembers
        .right-content__upper__groupmembers__group 
          = @group.name
        .right-content__upper__groupmembers__members
          Member : 
          - @group.group_users.each do |group_user|
            = group_user.user.name
      = link_to edit_group_path(@group), {data: {"turbolinks": false}} do
        .right-content__upper__btn
          Edit
    .right-content__middle
      = render partial: 'message', collection: @messages
    .right-content__lower
      = form_for [@group, @message], {html: {class: "message-form"}} do |f|
        = f.text_field :content, class: 'right-content__lower__textfield', placeholder: 'type a message'
        .right-content__lower__imagefolder
          = f.label :image, class: 'upload-label' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'upload-image'
        = f.submit 'Send', class: 'right-content__lower__btn'